:root {
  --primary-color: #9a8194;
  --secondary-color: #c6a9a3;
  --third-color: #ebd8b7;
  --accent-color: #99bbad;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  margin-bottom: 100px;
}

h1 {
  font-size: 96px;
  color: var(--primary-color);
}

h2 {
  font-size: 48px;
  color: var(--primary-color);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  opacity: 0.7;
}

.navbar-brand {
  color: var(--primary-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--accent-color);
  box-shadow: var(--box-shadow);
  color: #fffdf7;
}

.contact-link:hover {
  color: var(--third-color);
}

.about-link {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.about-link:hover {
  color: var(--third-color);
  border: 1px solid var(--third-color);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--accent-color);
  box-shadow: var(--box-shadow);
  color: #fffdf7;
}

.primary-link:hover {
  color: var(--third-color);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  color: var(--accent-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  .primary-link {
    font-size: small;
  }
}
