:root {
  --primary-color: #f18c8e;
  --secondary-color: #f1d1b5;
  --accent-color: #305f72;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
  color: var(--primary-color);
}

body {
  margin-top: 100px;
}

h1 {
  font-size: 96px;
  color: var(--accent-color);
}

h2 {
  font-size: 48px;
  color: var(--accent-color);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: whitesmoke;
}

.contact-link:hover {
  color: var(--secondary-color);
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-link:hover {
  color: var(--secondary-color);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: whitesmoke;
}

.primary-link:hover {
  color: var(--secondary-color);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}
